<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.net.apps.powerplant.server.db.mapper.ConsoMapper">
  <resultMap id="BaseResultMap" type="com.net.apps.powerplant.server.db.ConsoDb">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="PLANT_ID" jdbcType="INTEGER" property="plantId" />
    <result column="USER_ID" jdbcType="INTEGER" property="userId" />
    <result column="DATERELEVE" jdbcType="TIMESTAMP" property="datereleve" />
    <result column="RELEVE" jdbcType="BIGINT" property="releve" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, PLANT_ID, USER_ID, DATERELEVE, RELEVE
  </sql>
  <select id="selectByExample" parameterType="com.net.apps.powerplant.server.db.ConsoDbExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from T_CONSO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from T_CONSO
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from T_CONSO
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.net.apps.powerplant.server.db.ConsoDbExample">
    delete from T_CONSO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.net.apps.powerplant.server.db.ConsoDb">
    insert into T_CONSO (ID, PLANT_ID, USER_ID, 
      DATERELEVE, RELEVE)
    values (#{id,jdbcType=INTEGER}, #{plantId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{datereleve,jdbcType=TIMESTAMP}, #{releve,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.net.apps.powerplant.server.db.ConsoDb">
    insert into T_CONSO
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="plantId != null">
        PLANT_ID,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
      <if test="datereleve != null">
        DATERELEVE,
      </if>
      <if test="releve != null">
        RELEVE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="plantId != null">
        #{plantId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="datereleve != null">
        #{datereleve,jdbcType=TIMESTAMP},
      </if>
      <if test="releve != null">
        #{releve,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.net.apps.powerplant.server.db.ConsoDbExample" resultType="java.lang.Long">
    select count(*) from T_CONSO
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update T_CONSO
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.plantId != null">
        PLANT_ID = #{record.plantId,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.datereleve != null">
        DATERELEVE = #{record.datereleve,jdbcType=TIMESTAMP},
      </if>
      <if test="record.releve != null">
        RELEVE = #{record.releve,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update T_CONSO
    set ID = #{record.id,jdbcType=INTEGER},
      PLANT_ID = #{record.plantId,jdbcType=INTEGER},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      DATERELEVE = #{record.datereleve,jdbcType=TIMESTAMP},
      RELEVE = #{record.releve,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.net.apps.powerplant.server.db.ConsoDb">
    update T_CONSO
    <set>
      <if test="plantId != null">
        PLANT_ID = #{plantId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="datereleve != null">
        DATERELEVE = #{datereleve,jdbcType=TIMESTAMP},
      </if>
      <if test="releve != null">
        RELEVE = #{releve,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.net.apps.powerplant.server.db.ConsoDb">
    update T_CONSO
    set PLANT_ID = #{plantId,jdbcType=INTEGER},
      USER_ID = #{userId,jdbcType=INTEGER},
      DATERELEVE = #{datereleve,jdbcType=TIMESTAMP},
      RELEVE = #{releve,jdbcType=BIGINT}
    where ID = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectLastInsertedId" resultType="java.lang.Long">
    SELECT max(id) as "id" from T_CONSO
  </select>
</mapper>